In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
os.getcwd()

'C:\\Users\\farah\\Documents\\General Assembly DSI\\DSI-508\\Projects\\project-5\\project-5data'

In [3]:
os.chdir('../group-project/raw-data')

In [4]:
temp = pd.read_csv('./annual_temperature_2000-2020_FIPS.csv')
drought = pd.read_csv('./annual_drought_2015_2020.FIPS.csv')

In [5]:
temp.head()

,Year,StCoFIPS,Tmean_C,TDmean_C,NETmean_C,HImean_C,HXmean_C,WBGTmean_C,Flag_T,Flag_TD,Flag_NET,Flag_HI,Flag_HX,Flag_WBGT
0,2000,1001,18.45,11.49,12.37,18.48,21.36,16.73,0.0,0.0,0.0,0.0,0.0,0.0
1,2000,1003,20.07,14.69,13.78,20.70,24.86,18.90,0.0,0.0,0.0,0.0,0.0,0.0
2,2000,1005,18.63,12.14,12.92,18.72,21.87,17.17,0.0,0.0,0.0,0.0,0.0,0.0
3,2000,1007,18.01,11.13,12.26,18.04,20.81,16.42,0.0,0.0,0.0,0.0,0.0,0.0
4,2000,1009,16.65,10.19,10.74,16.57,19.02,15.25,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
drought.head()

,year,FIPS,normal_wet,abnormally_dry,moderate_drought,severe_drought,extreme_drought,exceptional_drought
0,2000,10001,98.08,1.92,0.00,0.00,0.00,0.00
1,2000,10003,98.08,1.92,0.00,0.00,0.00,0.00
2,2000,10005,97.42,2.59,0.00,0.00,0.00,0.00
3,2000,1001,0.14,99.86,73.70,56.07,38.79,28.61
4,2000,1003,0.00,100.00,80.69,65.77,47.65,20.86

In [7]:
temp.rename(columns={'Year': 'year', 'StCoFIPS': 'FIPS'}, inplace=True)

In [8]:
temp.FIPS.value_counts()

1001     21
39159    21
39115    21
39117    21
39119    21
         ..
21159    21
21161    21
21163    21
21165    21
56045    21
Name: FIPS, Length: 3108, dtype: int64

In [9]:
drought.FIPS.value_counts()

10001    23
45081    23
45061    23
45063    23
45065    23
         ..
26129    23
26131    23
26133    23
26135    23
9015     23
Name: FIPS, Length: 3221, dtype: int64

In [10]:
temp2 = temp.merge(drought, how='left', on=['year', 'FIPS'])

In [11]:
temp2.head()

,year,FIPS,Tmean_C,TDmean_C,NETmean_C,HImean_C,HXmean_C,WBGTmean_C,Flag_T,Flag_TD,Flag_NET,Flag_HI,Flag_HX,Flag_WBGT,normal_wet,abnormally_dry,moderate_drought,severe_drought,extreme_drought,exceptional_drought
0,2000,1001,18.45,11.49,12.37,18.48,21.36,16.73,0.0,0.0,0.0,0.0,0.0,0.0,0.14,99.86,73.70,56.07,38.79,28.61
1,2000,1003,20.07,14.69,13.78,20.70,24.86,18.90,0.0,0.0,0.0,0.0,0.0,0.0,0.00,100.00,80.69,65.77,47.65,20.86
2,2000,1005,18.63,12.14,12.92,18.72,21.87,17.17,0.0,0.0,0.0,0.0,0.0,0.0,0.00,100.00,95.99,73.52,43.53,18.99
3,2000,1007,18.01,11.13,12.26,18.04,20.81,16.42,0.0,0.0,0.0,0.0,0.0,0.0,7.28,92.72,70.78,48.97,35.25,28.87
4,2000,1009,16.65,10.19,10.74,16.57,19.02,15.25,0.0,0.0,0.0,0.0,0.0,0.0,6.38,93.62,81.44,54.57,30.77,13.16

In [12]:
print(temp.shape)
print(drought.shape)
print(temp2.shape) # should be number of columns in temp + (number of columns in drought minus 2)

(65268, 14)
(74083, 8)
(65268, 20)

In [13]:
# Note, there will be missings becaause there is more drought into than temp

In [14]:
temp2.to_csv('../clean-data/Temp_Drought_Combo.csv')

In [15]:
temp2.isnull().sum()

year                    0
FIPS                    0
Tmean_C                42
TDmean_C               42
NETmean_C              42
HImean_C               42
HXmean_C               42
WBGTmean_C             42
Flag_T                  0
Flag_TD                 0
Flag_NET                0
Flag_HI                 0
Flag_HX                 0
Flag_WBGT               0
normal_wet              0
abnormally_dry          0
moderate_drought        0
severe_drought          0
extreme_drought         0
exceptional_drought     0
dtype: int64