# Import Library

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load Data

In [37]:
df = pd.read_csv('../raw-data/usco2015v2.0.csv')
df.head()

,"Version 2.0: Dieter, C.A., Linsey, K.S., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Maupin, M.A., and Barber, N.L., 2018, Estimated use of water in the United States county-level data for 2015 (ver. 2.0, June 2018): U.S. Geological Survey data release, https://doi.org/10.5066/F7TB15V5.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140
0,STATE,STATEFIPS,COUNTY,COUNTYFIPS,FIPS,YEAR,TP-TotPop,PS-GWPop,PS-SWPop,PS-TOPop,...,TO-WGWTo,TO-WSWFr,TO-WSWSa,TO-WSWTo,TO-WFrTo,TO-WSaTo,TO-Wtotl,TO-CUsFrPartial,TO-CUsSaPartial,TO-CUTotPartial
1,AL,01,Autauga County,001,01001,2015,55.347,--,--,48.998,...,10.69,45.72,0.00,45.72,56.41,0.00,56.41,13.18,0.00,13.18
2,AL,01,Baldwin County,003,01003,2015,203.709,--,--,174.907,...,73.38,11.32,0.00,11.32,84.70,0.00,84.70,58.28,0.00,58.28
3,AL,01,Barbour County,005,01005,2015,26.489,--,--,24.587,...,6.06,2.96,0.00,2.96,9.02,0.00,9.02,2.96,0.00,2.96
4,AL,01,Bibb County,007,01007,2015,22.583,--,--,20.947,...,5.67,0.20,0.00,0.20,5.87,0.00,5.87,0.19,0.00,0.19

# Change column names

> Function used to change column names from "Unnamed: n" to their respective column name and to drop row 0

In [38]:
def preprocess_columns(df):

    # List of all columns
    data_list = ['STATE', 'STATEFIPS', 'COUNTY', 'COUNTYFIPS', 'FIPS', 'YEAR', 'TP-TotPop', 'PS-GWPop', 'PS-SWPop', 'PS-TOPop', 'PS-WGWFr', 'PS-WGWSa',
                 'PS-WGWTo', 'PS-WSWFr', 'PS-WSWSa', 'PS-WSWTo', 'PS-WFrTo', 'PS-WSaTo', 'PS-Wtotl', 'DO-SSPop', 'DO-WGWFr', 'DO-WSWFr', 'DO-WFrTo', 'DO-SSPCp',
                 'DO-PSDel', 'DO-PSPCp', 'DO-WDelv',  'IN-WGWFr', 'IN-WGWSa', 'IN-WGWTo', 'IN-WSWFr', 'IN-WSWSa', 'IN-WSWTo', 'IN-WFrTo', 'IN-WSaTo', 'IN-Wtotl',
                 'IR-WGWFr', 'IR-WSWFr', 'IR-WFrTo', 'IR-RecWW', 'IR-CUsFr', 'IR-IrSpr', 'IR-IrMic', 'IR-IrSur', 'IR-IrTot', 'IC-WGWFr', 'IC-WSWFr', 'IC-WFrTo',
                 'IC-RecWW', 'IC-CUsFr', 'IC-IrSpr', 'IC-IrMic', 'IC-IrSur', 'IC-IrTot', 'IG-WGWFr', 'IG-WSWFr', 'IG-WFrTo', 'IG-RecWW', 'IG-CUsFr', 'IG-IrSpr',
                 'IG-IrMic', 'IG-IrSur', 'IG-IrTot', 'LI-WGWFr', 'LI-WSWFr', 'LI-WFrTo', 'AQ-WGWFr', 'AQ-WGWSa', 'AQ-WGWTo', 'AQ-WSWFr', 'AQ-WSWSa', 'AQ-WSWTo',
                 'AQ-WFrTo', 'AQ-WSaTo', 'AQ-Wtotl', 'MI-WGWFr', 'MI-WGWSa', 'MI-WGWTo', 'MI-WSWFr', 'MI-WSWSa', 'MI-WSWTo', 'MI-WFrTo', 'MI-WSaTo', 'MI-Wtotl', 
                 'PT-WGWFr', 'PT-WGWSa', 'PT-WGWTo', 'PT-WSWFr', 'PT-WSWSa', 'PT-WSWTo', 'PT-WFrTo', 'PT-WSaTo', 'PT-Wtotl', 'PT-RecWW', 'PT-PSDel', 'PT-CUsFr',
                 'PT-CUsSa', 'PT-CUTot', 'PT-Power', 'PO-WGWFr', 'PO-WGWSa', 'PO-WGWTo', 'PO-WSWFr', 'PO-WSWSa', 'PO-WSWTo', 'PO-WFrTo', 'PO-WSaTo', 'PO-Wtotl',
                 'PO-RecWW', 'PO-PSDel', 'PO-CUsFr', 'PO-CUsSa', 'PO-CUTot', 'PO-Power', 'PC-WGWFr', 'PC-WGWSa', 'PC-WGWTo', 'PC-WSWFr', 'PC-WSWSa', 'PC-WSWTo',
                 'PC-WFrTo', 'PC-WSaTo', 'PC-Wtotl', 'PC-RecWW', 'PC-PSDel', 'PC-CUsFr', 'PC-CUsSa', 'PC-CUTot', 'PC-Power', 'TO-WGWFr', 'TO-WGWSa', 'TO-WGWTo',
                 'TO-WSWFr', 'TO-WSWSa', 'TO-WSWTo', 'TO-WFrTo', 'TO-WSaTo', 'TO-Wtotl', 'TO-CUsFrPartial', 'TO-CUsSaPartial', 'TO-CUTotPartial']
    
    # Change column names
    df.columns = data_list

    # Drop the first row
    df = df.drop(0)
    
    return df

# Condense Features

> Function to condense groups and drop unnecessary features

In [39]:
def group_and_drop_columns(df):
    # Group columns
    df['demographic_location_information'] = df[['STATE', 'COUNTY', 'FIPS']].values.tolist()
    df['population'] = df['TP-TotPop']
    df['water_supply'] = df[['PS-GWPop', 'PS-SWPop', 'PS-TOPop']].values.tolist()
    df['water_supply_withdrawals_by_source'] = df[['PS-WGWFr', 'PS-WGWSa', 'PS-WGWTo', 'PS-WSWFr', 'PS-WSWSa', 'PS-WSWTo', 'PS-WFrTo', 'PS-WSaTo', 'PS-Wtotl']].values.tolist()
    df['other_water_usage_categories'] = df[['DO-SSPop', 'DO-WGWFr', 'DO-WSWFr', 'DO-WFrTo']].values.tolist()
    df['industrial_water_usage'] = df[['IN-WGWFr', 'IN-WGWSa', 'IN-WGWTo', 'IN-WSWFr', 'IN-WSWSa', 'IN-WSWTo', 'IN-WFrTo', 'IN-WSaTo', 'IN-Wtotl']].values.tolist()
    df['irrigation_water_usage'] = df[['IR-WGWFr', 'IR-WSWFr', 'IR-WFrTo', 'IR-RecWW', 'IR-CUsFr', 'IR-IrSpr', 'IR-IrMic', 'IR-IrSur', 'IR-IrTot']].values.tolist()
    df['livestock_water_usage'] = df[['LI-WGWFr', 'LI-WSWFr', 'LI-WFrTo']].values.tolist()
    df['aquaculture_water_usage'] = df[['AQ-WGWFr', 'AQ-WGWSa', 'AQ-WGWTo', 'AQ-WSWFr', 'AQ-WSWSa', 'AQ-WSWTo', 'AQ-WFrTo', 'AQ-WSaTo', 'AQ-Wtotl']].values.tolist()
    df['mining_water_usage'] = df[['MI-WGWFr', 'MI-WGWSa', 'MI-WGWTo', 'MI-WSWFr', 'MI-WSWSa', 'MI-WSWTo', 'MI-WFrTo', 'MI-WSaTo', 'MI-Wtotl']].values.tolist()
    df['thermoelectric_power_generation'] = df[['PT-WGWFr', 'PT-WGWSa', 'PT-WGWTo', 'PT-WSWFr', 'PT-WSWSa', 'PT-WSWTo', 'PT-WFrTo', 'PT-WSaTo', 'PT-Wtotl', 'PT-RecWW', 'PT-PSDel', 'PT-CUsFr', 'PT-CUsSa', 'PT-CUTot', 'PT-Power']].values.tolist()
    df['other_thermoelectric_power_generation'] = df[['PO-WGWFr', 'PO-WGWSa', 'PO-WGWTo', 'PO-WSWFr', 'PO-WSWSa', 'PO-WSWTo', 'PO-WFrTo', 'PO-WSaTo', 'PO-Wtotl', 'PO-RecWW', 'PO-PSDel', 'PO-CUsFr', 'PO-CUsSa', 'PO-CUTot', 'PO-Power']].values.tolist()
    df['recirculating_thermoelectric_power_generation'] = df[['PC-WGWFr', 'PC-WGWSa', 'PC-WGWTo', 'PC-WSWFr', 'PC-WSWSa', 'PC-WSWTo', 'PC-WFrTo', 'PC-WSaTo', 'PC-Wtotl', 'PC-RecWW', 'PC-PSDel', 'PC-CUsFr', 'PC-CUsSa', 'PC-CUTot', 'PC-Power']].values.tolist()
    df['total_water_withdrawals'] = df[['TO-WGWFr', 'TO-WGWSa', 'TO-WGWTo', 'TO-WSWFr', 'TO-WSWSa', 'TO-WSWTo', 'TO-WFrTo', 'TO-WSaTo', 'TO-Wtotl', 'TO-CUsFrPartial', 'TO-CUsSaPartial', 'TO-CUTotPartial']].values.tolist()
    
    # Drop original columns
    df.drop(['STATE', 'STATEFIPS', 'COUNTY', 'COUNTYFIPS', 'FIPS', 'YEAR', 'TP-TotPop', 'PS-GWPop', 'PS-SWPop', 'PS-TOPop', 'PS-WGWFr', 'PS-WGWSa',
                 'PS-WGWTo', 'PS-WSWFr', 'PS-WSWSa', 'PS-WSWTo', 'PS-WFrTo', 'PS-WSaTo', 'PS-Wtotl', 'DO-SSPop', 'DO-WGWFr', 'DO-WSWFr', 'DO-WFrTo', 'DO-SSPCp',
                 'DO-PSDel', 'DO-PSPCp', 'DO-WDelv',  'IN-WGWFr', 'IN-WGWSa', 'IN-WGWTo', 'IN-WSWFr', 'IN-WSWSa', 'IN-WSWTo', 'IN-WFrTo', 'IN-WSaTo', 'IN-Wtotl',
                 'IR-WGWFr', 'IR-WSWFr', 'IR-WFrTo', 'IR-RecWW', 'IR-CUsFr', 'IR-IrSpr', 'IR-IrMic', 'IR-IrSur', 'IR-IrTot', 'IC-WGWFr', 'IC-WSWFr', 'IC-WFrTo',
                 'IC-RecWW', 'IC-CUsFr', 'IC-IrSpr', 'IC-IrMic', 'IC-IrSur', 'IC-IrTot', 'IG-WGWFr', 'IG-WSWFr', 'IG-WFrTo', 'IG-RecWW', 'IG-CUsFr', 'IG-IrSpr',
                 'IG-IrMic', 'IG-IrSur', 'IG-IrTot', 'LI-WGWFr', 'LI-WSWFr', 'LI-WFrTo', 'AQ-WGWFr', 'AQ-WGWSa', 'AQ-WGWTo', 'AQ-WSWFr', 'AQ-WSWSa', 'AQ-WSWTo',
                 'AQ-WFrTo', 'AQ-WSaTo', 'AQ-Wtotl', 'MI-WGWFr', 'MI-WGWSa', 'MI-WGWTo', 'MI-WSWFr', 'MI-WSWSa', 'MI-WSWTo', 'MI-WFrTo', 'MI-WSaTo', 'MI-Wtotl', 
                 'PT-WGWFr', 'PT-WGWSa', 'PT-WGWTo', 'PT-WSWFr', 'PT-WSWSa', 'PT-WSWTo', 'PT-WFrTo', 'PT-WSaTo', 'PT-Wtotl', 'PT-RecWW', 'PT-PSDel', 'PT-CUsFr',
                 'PT-CUsSa', 'PT-CUTot', 'PT-Power', 'PO-WGWFr', 'PO-WGWSa', 'PO-WGWTo', 'PO-WSWFr', 'PO-WSWSa', 'PO-WSWTo', 'PO-WFrTo', 'PO-WSaTo', 'PO-Wtotl',
                 'PO-RecWW', 'PO-PSDel', 'PO-CUsFr', 'PO-CUsSa', 'PO-CUTot', 'PO-Power', 'PC-WGWFr', 'PC-WGWSa', 'PC-WGWTo', 'PC-WSWFr', 'PC-WSWSa', 'PC-WSWTo',
                 'PC-WFrTo', 'PC-WSaTo', 'PC-Wtotl', 'PC-RecWW', 'PC-PSDel', 'PC-CUsFr', 'PC-CUsSa', 'PC-CUTot', 'PC-Power', 'TO-WGWFr', 'TO-WGWSa', 'TO-WGWTo',
                 'TO-WSWFr', 'TO-WSWSa', 'TO-WSWTo', 'TO-WFrTo', 'TO-WSaTo', 'TO-Wtotl', 'TO-CUsFrPartial', 'TO-CUsSaPartial', 'TO-CUTotPartial'], axis=1, inplace=True)
    
    return df

In [40]:
df = preprocess_columns(df)
df.head()

,STATE,STATEFIPS,COUNTY,COUNTYFIPS,FIPS,YEAR,TP-TotPop,PS-GWPop,PS-SWPop,PS-TOPop,...,TO-WGWTo,TO-WSWFr,TO-WSWSa,TO-WSWTo,TO-WFrTo,TO-WSaTo,TO-Wtotl,TO-CUsFrPartial,TO-CUsSaPartial,TO-CUTotPartial
1,AL,01,Autauga County,001,01001,2015,55.347,--,--,48.998,...,10.69,45.72,0.00,45.72,56.41,0.00,56.41,13.18,0.00,13.18
2,AL,01,Baldwin County,003,01003,2015,203.709,--,--,174.907,...,73.38,11.32,0.00,11.32,84.70,0.00,84.70,58.28,0.00,58.28
3,AL,01,Barbour County,005,01005,2015,26.489,--,--,24.587,...,6.06,2.96,0.00,2.96,9.02,0.00,9.02,2.96,0.00,2.96
4,AL,01,Bibb County,007,01007,2015,22.583,--,--,20.947,...,5.67,0.20,0.00,0.20,5.87,0.00,5.87,0.19,0.00,0.19
5,AL,01,Blount County,009,01009,2015,57.673,--,--,44.815,...,4.64,55.43,0.00,55.43,60.07,0.00,60.07,1.08,0.00,1.08

In [41]:
df = group_and_drop_columns(df)
df.head()

,demographic_location_information,population,water_supply,water_supply_withdrawals_by_source,other_water_usage_categories,industrial_water_usage,irrigation_water_usage,livestock_water_usage,aquaculture_water_usage,mining_water_usage,thermoelectric_power_generation,other_thermoelectric_power_generation,recirculating_thermoelectric_power_generation,total_water_withdrawals
1,"[AL, Autauga County, 01001]",55.347,"[--, --, 48.998]","[3.64, 0.00, 3.64, 0.00, 0.00, 0.00, 3.64, 0.0...","[6.349, 0.38, 0.00, 0.38]","[1.83, 0.00, 1.83, 32.97, 0.00, 32.97, 34.80, ...","[3.36, 0.16, 3.52, --, 3.52, 2.26, 0.00, 0.00,...","[0.08, 0.11, 0.19]","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[1.40, 0.00, 1.40, 0.62, 0.00, 0.62, 2.02, 0.0...","[0.00, 0.00, 0.00, 11.86, 0.00, 11.86, 11.86, ...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.00, 0.00, 0.00, 11.86, 0.00, 11.86, 11.86, ...","[10.69, 0.00, 10.69, 45.72, 0.00, 45.72, 56.41..."
2,"[AL, Baldwin County, 01003]",203.709,"[--, --, 174.907]","[23.67, 0.00, 23.67, 0.00, 0.00, 0.00, 23.67, ...","[28.802, 2.14, 0.00, 2.14]","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[47.17, 11.11, 58.28, --, 58.28, 20.66, 0.00, ...","[0.13, 0.16, 0.29]","[0.05, 0.00, 0.05, 0.05, 0.00, 0.05, 0.10, 0.0...","[0.22, 0.00, 0.22, 0.00, 0.00, 0.00, 0.22, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[73.38, 0.00, 73.38, 11.32, 0.00, 11.32, 84.70..."
3,"[AL, Barbour County, 01005]",26.489,"[--, --, 24.587]","[3.23, 0.00, 3.23, 0.00, 0.00, 0.00, 3.23, 0.0...","[1.902, 0.12, 0.00, 0.12]","[1.50, 0.00, 1.50, 0.00, 0.00, 0.00, 1.50, 0.0...","[0.57, 2.39, 2.96, --, 2.96, 4.53, 0.00, 0.00,...","[0.16, 0.25, 0.41]","[0.18, 0.00, 0.18, 0.18, 0.00, 0.18, 0.36, 0.0...","[0.30, 0.00, 0.30, 0.14, 0.00, 0.14, 0.44, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[6.06, 0.00, 6.06, 2.96, 0.00, 2.96, 9.02, 0.0..."
4,"[AL, Bibb County, 01007]",22.583,"[--, --, 20.947]","[5.18, 0.00, 5.18, 0.00, 0.00, 0.00, 5.18, 0.0...","[1.636, 0.16, 0.00, 0.16]","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.03, 0.16, 0.19, --, 0.19, 0.16, 0.00, 0.00,...","[0.03, 0.04, 0.07]","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.27, 0.00, 0.27, 0.00, 0.00, 0.00, 0.27, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[5.67, 0.00, 5.67, 0.20, 0.00, 0.20, 5.87, 0.0..."
5,"[AL, Blount County, 01009]",57.673,"[--, --, 44.815]","[2.78, 0.00, 2.78, 54.08, 0.00, 54.08, 56.86, ...","[12.858, 0.86, 0.00, 0.86]","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.20, 0.88, 1.08, --, 1.08, 0.94, 0.00, 0.00,...","[0.43, 0.47, 0.90]","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.37, 0.00, 0.37, 0.00, 0.00, 0.00, 0.37, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.0...","[4.64, 0.00, 4.64, 55.43, 0.00, 55.43, 60.07, ..."

In [ ]:
df.head()

# Save Data as CSV File

In [43]:
df.to_csv('../clean-data/usco2015v2.0_clean.csv', index=False)