# Narrowing Variables Within Water Data Frame
---
In this notebook, we will explore our variables and see which ones may be dropped (e.g., redundant, too granular, etc.). Our final dataframe will be combined with other variables from temperature, drought, and median income data, and saved for analysis.

In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv('../../data/raw-data/usco2015v2.0.csv', header=1)
df.head()

,STATE,STATEFIPS,COUNTY,COUNTYFIPS,FIPS,YEAR,TP-TotPop,PS-GWPop,PS-SWPop,PS-TOPop,...,TO-WGWTo,TO-WSWFr,TO-WSWSa,TO-WSWTo,TO-WFrTo,TO-WSaTo,TO-Wtotl,TO-CUsFrPartial,TO-CUsSaPartial,TO-CUTotPartial
0,AL,1,Autauga County,1,1001,2015,55.347,--,--,48.998,...,10.69,45.72,0.0,45.72,56.41,0.0,56.41,13.18,0.0,13.18
1,AL,1,Baldwin County,3,1003,2015,203.709,--,--,174.907,...,73.38,11.32,0.0,11.32,84.70,0.0,84.70,58.28,0.0,58.28
2,AL,1,Barbour County,5,1005,2015,26.489,--,--,24.587,...,6.06,2.96,0.0,2.96,9.02,0.0,9.02,2.96,0.0,2.96
3,AL,1,Bibb County,7,1007,2015,22.583,--,--,20.947,...,5.67,0.20,0.0,0.20,5.87,0.0,5.87,0.19,0.0,0.19
4,AL,1,Blount County,9,1009,2015,57.673,--,--,44.815,...,4.64,55.43,0.0,55.43,60.07,0.0,60.07,1.08,0.0,1.08

In [4]:
df.shape

(3223, 141)

In [5]:
df.dtypes

STATE               object
STATEFIPS            int64
COUNTY              object
COUNTYFIPS           int64
FIPS                 int64
                    ...
TO-WSaTo           float64
TO-Wtotl           float64
TO-CUsFrPartial    float64
TO-CUsSaPartial    float64
TO-CUTotPartial    float64
Length: 141, dtype: object

In [6]:
# Finding which variables add to each other, we can narrow down features this way

df['PS-WGWTo_chk'] = df['PS-WGWFr'] + df['PS-WGWSa']
n_unequal = (round(df['PS-WGWTo_chk'],2) != round(df['PS-WGWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [7]:
df['PS-WSWTo_chk'] = df['PS-WSWFr'] + df['PS-WSWSa']
n_unequal = (round(df['PS-WSWTo_chk'],2) != round(df['PS-WSWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [8]:
df['PS-Wtotl_chk'] = df['PS-WFrTo'] + df['PS-WSaTo']
n_unequal = (round(df['PS-Wtotl_chk'],2) != round(df['PS-Wtotl'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [9]:
df['DO-WFrTo_chk'] = df['DO-WGWFr'] + df['DO-WSWFr']
n_unequal = (round(df['DO-WFrTo_chk'],2) != round(df['DO-WFrTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [10]:
df['DO-WDelv_chk'] = df['DO-WFrTo'] + df['DO-PSDel']
n_unequal = (round(df['DO-WDelv_chk'],2) != round(df['DO-WDelv '],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [11]:
df['IN-WGWTo_chk'] = df['IN-WGWFr'] + df['IN-WGWSa']
n_unequal = (round(df['IN-WGWTo_chk'],2) != round(df['IN-WGWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [12]:
df['IN-WSWTo_chk'] = df['IN-WSWFr'] + df['IN-WSWSa']
n_unequal = (round(df['IN-WSWTo_chk'],2) != round(df['IN-WSWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [13]:
df['IN-Wtotl_chk'] = df['IN-WFrTo'] + df['IN-WSaTo']
n_unequal = (round(df['IN-Wtotl_chk'],2) != round(df['IN-Wtotl'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [14]:
df['IR-WFrTo_chk'] = df['IR-WGWFr'] + df['IR-WSWFr']
n_unequal = (round(df['IR-WFrTo_chk'],2) != round(df['IR-WFrTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [15]:
df['IR-IrTot_chk'] = df['IR-IrSpr'] + df['IR-IrMic'] + df['IR-IrSur']
n_unequal = (round(df['IR-IrTot_chk'],2) != round(df['IR-IrTot'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [16]:
df['PT-WGWTo_chk'] = df['PT-WGWFr'] + df['PT-WGWSa']
n_unequal = (round(df['PT-WGWTo_chk'],2) != round(df['PT-WGWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [17]:
df['PT-WSWTo_chk'] = df['PT-WSWFr'] + df['PT-WSWSa']
n_unequal = (round(df['PT-WSWTo_chk'],2) != round(df['PT-WSWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [18]:
df['PT-Wtotl_chk'] = df['PT-WFrTo'] + df['PT-WSaTo']
n_unequal = (round(df['PT-Wtotl_chk'],2) != round(df['PT-Wtotl'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [19]:
df['PT-CUTot_chk'] = df['PT-CUsFr'] + df['PT-CUsSa']
n_unequal = (round(df['PT-CUTot_chk'],2) != round(df['PT-CUTot'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [20]:
df['PO-WGWTo_chk'] = df['PO-WGWFr'] + df['PO-WGWSa']
n_unequal = (round(df['PO-WGWTo_chk'],2) != round(df['PO-WGWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [21]:
df['PO-WSWTo_chk'] = df['PO-WSWFr'] + df['PO-WSWSa']
n_unequal = (round(df['PO-WSWTo_chk'],2) != round(df['PO-WSWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [22]:
df['PO-Wtotl_chk'] = df['PO-WFrTo'] + df['PO-WSaTo']
n_unequal = (round(df['PO-Wtotl_chk'],2) != round(df['PO-Wtotl'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [23]:
df['PO-CUTot_chk'] = df['PO-CUsFr'] + df['PO-CUsSa']
n_unequal = (round(df['PO-CUTot_chk'],2) != round(df['PO-CUTot'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [24]:
df['PC-WGWTo_chk'] = df['PC-WGWFr'] + df['PC-WGWSa']
n_unequal = (round(df['PC-WGWTo_chk'],2) != round(df['PC-WGWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [25]:
df['PC-WSWTo_chk'] = df['PC-WSWFr'] + df['PC-WSWSa']
n_unequal = (round(df['PC-WSWTo_chk'],2) != round(df['PC-WSWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [26]:
df['PC-Wtotl_chk'] = df['PC-WFrTo'] + df['PC-WSaTo']
n_unequal = (round(df['PC-Wtotl_chk'],2) != round(df['PC-Wtotl'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [27]:
df['PC-CUTot_chk'] = df['PC-CUsFr'] + df['PC-CUsSa']
n_unequal = (round(df['PC-CUTot_chk'],2) != round(df['PC-CUTot'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [28]:
df['TO-WGWTo_chk'] = df['TO-WGWFr'] + df['TO-WGWSa']
n_unequal = (round(df['TO-WGWTo_chk'],2) != round(df['TO-WGWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [29]:
df['TO-WSWTo_chk'] = df['TO-WSWFr'] + df['TO-WSWSa']
n_unequal = (round(df['TO-WSWTo_chk'],2) != round(df['TO-WSWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [30]:
df['TO-Wtotl_chk'] = df['TO-WFrTo'] + df['TO-WSaTo']
n_unequal = (round(df['TO-Wtotl_chk'],2) != round(df['TO-Wtotl'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [31]:
df['TO-CUTotPartial_chk'] = df['TO-CUsFrPartial'] + df['TO-CUsSaPartial']
n_unequal = (round(df['TO-CUTotPartial_chk'],2) != round(df['TO-CUTotPartial'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [32]:
df['IC-WGWFr'] = df['IC-WGWFr'].replace('--', 0)
df['IC-WSWFr'] = df['IC-WSWFr'].replace('--', 0)
df['IC-WFrTo'] = df['IC-WFrTo'].replace('--', 0)

df['IC-WGWFr'] = pd.to_numeric(df['IC-WGWFr'], errors='coerce')
df['IC-WSWFr'] = pd.to_numeric(df['IC-WSWFr'], errors='coerce')
df['IC-WFrTo'] = pd.to_numeric(df['IC-WFrTo'], errors='coerce')

df['IC-WGWFr'] = df['IC-WGWFr'].fillna(0)
df['IC-WSWFr'] = df['IC-WSWFr'].fillna(0)
df['IC-WFrTo'] = df['IC-WFrTo'].fillna(0)

In [33]:
df['IC-WFrTo_chk'] = df['IC-WGWFr'] + df['IC-WSWFr']
n_unequal = (round(df['IC-WFrTo_chk'],2) != round(df['IC-WFrTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [34]:
df['IC-IrSpr'] = df['IC-IrSpr'].replace('--', 0)
df['IC-IrMic'] = df['IC-IrMic'].replace('--', 0)
df['IC-IrSur'] = df['IC-IrSur'].replace('--', 0)
df['IC-IrTot'] = df['IC-IrTot'].replace('--', 0)

df['IC-IrSpr'] = pd.to_numeric(df['IC-IrSpr'], errors='coerce')
df['IC-IrMic'] = pd.to_numeric(df['IC-IrMic'], errors='coerce')
df['IC-IrSur'] = pd.to_numeric(df['IC-IrSur'], errors='coerce')
df['IC-IrTot'] = pd.to_numeric(df['IC-IrTot'], errors='coerce')

df['IC-IrSpr'] = df['IC-IrSpr'].fillna(0)
df['IC-IrMic'] = df['IC-IrMic'].fillna(0)
df['IC-IrSur'] = df['IC-IrSur'].fillna(0)
df['IC-IrTot'] = df['IC-IrTot'].fillna(0)

df['IC-IrTot_chk'] = df['IC-IrSpr'] + df['IC-IrMic'] + df['IC-IrSur']
n_unequal = (round(df['IC-IrTot_chk'],2) != round(df['IC-IrTot'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [35]:
df['IG-WGWFr'] = df['IG-WGWFr'].replace('--', 0)
df['IG-WSWFr'] = df['IG-WSWFr'].replace('--', 0)
df['IG-WFrTo'] = df['IG-WFrTo'].replace('--', 0)

df['IG-WGWFr'] = pd.to_numeric(df['IG-WGWFr'], errors='coerce')
df['IG-WSWFr'] = pd.to_numeric(df['IG-WSWFr'], errors='coerce')
df['IG-WFrTo'] = pd.to_numeric(df['IG-WFrTo'], errors='coerce')

df['IG-WGWFr'] = df['IG-WGWFr'].fillna(0)
df['IG-WSWFr'] = df['IG-WSWFr'].fillna(0)
df['IG-WFrTo'] = df['IG-WFrTo'].fillna(0)

df['IG-WFrTo_chk'] = df['IG-WGWFr'] + df['IG-WSWFr']
n_unequal = (round(df['IG-WFrTo_chk'],2) != round(df['IG-WFrTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [36]:
df['IG-IrSpr'] = df['IG-IrSpr'].replace('--', 0)
df['IG-IrMic'] = df['IG-IrMic'].replace('--', 0)
df['IG-IrSur'] = df['IG-IrSur'].replace('--', 0)
df['IG-IrTot'] = df['IG-IrTot'].replace('--', 0)

df['IG-IrSpr'] = pd.to_numeric(df['IG-IrSpr'], errors='coerce')
df['IG-IrMic'] = pd.to_numeric(df['IG-IrMic'], errors='coerce')
df['IG-IrSur'] = pd.to_numeric(df['IG-IrSur'], errors='coerce')
df['IG-IrTot'] = pd.to_numeric(df['IG-IrTot'], errors='coerce')

df['IG-IrSpr'] = df['IG-IrSpr'].fillna(0)
df['IG-IrMic'] = df['IG-IrMic'].fillna(0)
df['IG-IrSur'] = df['IG-IrSur'].fillna(0)
df['IG-IrTot'] = df['IG-IrTot'].fillna(0)

df['IG-IrTot_chk'] = df['IG-IrSpr'] + df['IG-IrMic'] + df['IG-IrSur']
n_unequal = (round(df['IG-IrTot_chk'],2) != round(df['IG-IrTot'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [37]:
df['LI-WFrTo_chk'] = df['LI-WGWFr'] + df['LI-WSWFr']
n_unequal = (round(df['LI-WFrTo_chk'],2) != round(df['LI-WFrTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [38]:
df['AQ-WGWSa'] = df['AQ-WGWSa'].replace('--', 0)
df['AQ-WGWSa'] = pd.to_numeric(df['AQ-WGWSa'], errors='coerce')
df['AQ-WGWSa'] = df['AQ-WGWSa'].fillna(0)

df['AQ-WGWTo_chk'] = df['AQ-WGWFr'] + df['AQ-WGWSa']
n_unequal = (round(df['AQ-WGWTo_chk'],2) != round(df['AQ-WGWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [39]:
df['AQ-WSWSa'] = df['AQ-WSWSa'].replace('--', 0)
df['AQ-WSWSa'] = pd.to_numeric(df['AQ-WSWSa'], errors='coerce')
df['AQ-WSWSa'] = df['AQ-WSWSa'].fillna(0)

df['AQ-WSWTo_chk'] = df['AQ-WSWFr'] + df['AQ-WSWSa']
n_unequal = (round(df['AQ-WSWTo_chk'],2) != round(df['AQ-WSWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [40]:
df['AQ-WSaTo'] = df['AQ-WSaTo'].replace('--', 0)
df['AQ-WSaTo'] = pd.to_numeric(df['AQ-WSaTo'], errors='coerce')
df['AQ-WSaTo'] = df['AQ-WSaTo'].fillna(0)

df['AQ-Wtotl_chk'] = df['AQ-WFrTo'] + df['AQ-WSaTo']
n_unequal = (round(df['AQ-Wtotl_chk'],2) != round(df['AQ-Wtotl'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [41]:
df['MI-WGWTo_chk'] = df['MI-WGWFr'] + df['MI-WGWSa']
n_unequal = (round(df['MI-WGWTo_chk'],2) != round(df['MI-WGWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [42]:
df['MI-WSWTo_chk'] = df['MI-WSWFr'] + df['MI-WSWSa']
n_unequal = (round(df['MI-WSWTo_chk'],2) != round(df['MI-WSWTo'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

In [43]:
df['MI-Wtotl_chk'] = df['MI-WFrTo'] + df['MI-WSaTo']
n_unequal = (round(df['MI-Wtotl_chk'],2) != round(df['MI-Wtotl'],2)).sum()
print(f'Number of times unequal: {n_unequal}')

Number of times unequal: 0

#### Based on these confirmations, it appears we can drop the Fresh vs. Saline columns and keep the Total columns only

##### "Total" Columns to Keep:
- PS-WGWTo
- PS-WSWTo
- PS-Wtotl
- DO-WFrTo 
- DO-WDelv (notice this variable has a trailing space)
- IN-WGWTo
- IN-WSWTo
- IN-Wtotl
- IR-WFrTo
- IC-WFrTo
- DO-PSDel
- IR-IrTot
- PT-WGWTo
- PT-WSWTo
- PT-Wtotl
- PT-CUTot
- PO-WGWTo
- PO-WSWTo
- PO-Wtotl
- PO-CUTot
- PC-WGWTo
- PC-WSWTo
- PC-Wtotl
- PC-CUTot
- TO-WGWTo
- TO-WSWTo
- TO-Wtotl
- TO-CUTotPartial
- ... Others as well

In [44]:
df2 = df.filter(items=[ 'STATE', 'COUNTY', 'FIPS', 'YEAR',
                        'TP-TotPop',
                        'PS-GWPop',
                        'PS-SWPop',
                        'PS-TOPop',
                        'PS-WGWTo',
                        'PS-WSWTo',
                        'PS-Wtotl',
                        'DO-SSPop',
                        'DO-SSPCp',
                        'DO-PSDel',
                        'DO-PSPCp',
                        'DO-WFrTo', 
                        'DO-WDelv ', 
                        'IN-WGWTo',
                        'IN-WSWTo',
                        'IN-Wtotl',
                        'IR-WFrTo',
                        'IR-RecWW',
                        'IR-CUsFr',
                        'IR-IrTot',
                        'IC-WFrTo',
                        'IC-RecWW',
                        'IC-CUsFr',
                        'IC-IrTot',
                        'IG-WFrTo',
                        'IG-RecWW',
                        'IG-CUsFr',
                        'IG-IrTot',
                        'LI-WFrTo',
                        'AQ-WGWTo',
                        'AQ-WSWTo',
                        'AQ-Wtotl',
                        'MI-WGWTo',
                        'MI-WSWTo',
                        'MI-Wtotl',
                        'PT-WGWTo',
                        'PT-WSWTo',
                        'PT-Wtotl',
                        'PT-RecWW',
                        'PT-PSDel',
                        'PT-CUTot',
                        'PT-Power',
                        'PO-WGWTo',
                        'PO-WSWTo',
                        'PO-Wtotl',
                        'PO-RecWW',
                        'PO-PSDel',
                        'PO-CUTot',
                        'PO-Power',
                        'PC-WGWTo',
                        'PC-WSWTo',
                        'PC-Wtotl',
                        'PC-RecWW',
                        'PC-PSDel',
                        'PC-CUTot',
                        'PC-Power',
                        'TO-WGWTo',
                        'TO-WSWTo',
                        'TO-Wtotl',
                        'TO-CUTotPartial'])

In [45]:
df2.head()

,STATE,COUNTY,FIPS,YEAR,TP-TotPop,PS-GWPop,PS-SWPop,PS-TOPop,PS-WGWTo,PS-WSWTo,...,PC-WSWTo,PC-Wtotl,PC-RecWW,PC-PSDel,PC-CUTot,PC-Power,TO-WGWTo,TO-WSWTo,TO-Wtotl,TO-CUTotPartial
0,AL,Autauga County,1001,2015,55.347,--,--,48.998,3.64,0.00,...,11.86,11.86,--,--,9.66,15711.64,10.69,45.72,56.41,13.18
1,AL,Baldwin County,1003,2015,203.709,--,--,174.907,23.67,0.00,...,0.00,0.00,--,--,0.00,0.00,73.38,11.32,84.70,58.28
2,AL,Barbour County,1005,2015,26.489,--,--,24.587,3.23,0.00,...,0.00,0.00,--,--,0.00,0.00,6.06,2.96,9.02,2.96
3,AL,Bibb County,1007,2015,22.583,--,--,20.947,5.18,0.00,...,0.00,0.00,--,--,0.00,0.00,5.67,0.20,5.87,0.19
4,AL,Blount County,1009,2015,57.673,--,--,44.815,2.78,54.08,...,0.00,0.00,--,--,0.00,0.00,4.64,55.43,60.07,1.08

In [46]:
df2.shape

(3223, 66)

In [47]:
df2.to_csv('../../data/clean-data/usco2015v2.0_clean2.csv', index=False)